<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev.spider.geo.mapper.GeoCityMapper" >
    <resultMap id="BaseResultMap" type="dev.spider.geo.entity.pojo.GeoCity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
        <result column="ad_code" property="adCode" jdbcType="VARCHAR" />
    </resultMap>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from  city where city_name not like '%省' and substr(ad_code,5)='00'
    </select>
    <select id="selectGeoCity" resultMap="BaseResultMap">
        select * from city where
            city_name not like '%省' and substr(ad_code,5)='00' order by ad_code
    </select>
    <insert id="batchInsert" parameterType="dev.spider.geo.entity.dto.TcLetterDTO">
        insert into geo_letter
        (cityId, cityName, letter)
        values
        <foreach collection="list" item="data" separator=",">
            (#{data.cityId},#{data.cityName},#{data.letter})
        </foreach>
    </insert>
    <select id="queryLeft" resultType="dev.spider.geo.entity.pojo.GeoCity">
        select * from city where ad_code not in (
            select distinct school.city_code from school
        ) and city_name not like '%省' and substr(ad_code,5)='00' order by ad_code;
    </select>
</mapper>